.itemList{
    background-color: blue;
    display: flex;
    margin: 20px;
}

body{
    background-color: #005466;
}

nav{
    background-color: #007B27;
}

.cart{
    float: right;
    margin-right: 5rem;
    padding: 20px;
}